@import url(../css/fonts.css);
@import url(../css/reset.css);

@media(min-width: 768px) and (max-width: 1024px){
    /* ##### COMMON STYLES ##### */
    .menu .menu-inner{
        justify-content: center;
    }
    .menu .menu-inner h2{
        position: relative;
        margin: 0;
    }


    /* ##### HEADER ##### */
    header .header-inner{
        align-items: flex-start;
        padding: 20px 10%;
    }
    header .header-inner h1.logo{
        width: 10vw;
    }
    header .header-inner nav.gnb{
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 15% 10%;
        z-index: 35;
        background-color: #333;
        transform: translateX(100%);
    }
    header .header-inner nav.gnb.active{
        transform: translateX(0%);
    }
    header .header-inner .gnb-responsive{
        display: block;
        position: absolute;
        right: 10%;
        z-index: 50;
        top: 40%;
        animation: blur 4.2s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 3s;
    }
    .gnb-responsive button{
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
    }
    header .header-inner nav.gnb ul{
        flex-direction: column;
        align-items: flex-start;
    }
    header .header-inner .gnb-bg{
        display: block;
        opacity: 0;
    }
    header .header-inner .gnb-bg.active{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 30;
        opacity: 1;
        transition: 0.2s;
        background-color: rgba(0, 0, 0, 0.5);
    }
    /* ##### MAIN SECTION ##### */
    .main-container{
        height: 660vh;
    }
    /* ### FIRST WRAP ### */
    .main-container .first-wrap .intro-title{
        width: 55%;
    }
    .first-wrap .intro-title .title-top{
        gap: 20px;
    }
    .intro-title .title-top .title-arrow::before{
        height: 2px;
    }
    .intro-title .title-bottom .main-title span{
        font-size: 50px;
    }
    .intro-title .title-bottom .sub-text{
        margin-top: 8px;
    }
    .title-bottom .sub-text .text{
        font-size: 14px;
    }
    .title-bottom .sub-text .cursor{
        font-size: 14px;
        line-height: 18px;
        transform: translateX(-10px);
    }
    .first-wrap .bg-wrapper{
        height: 110vh;
    }


    /* ### SECOND WRAP ### */
    .menu-inner .profile-container{
        flex-direction: column;
    }
    .menu-inner .profile-container .profile.overview{
        flex-direction: row;
        width: 100%;
        gap: 5%;
        align-items: center;
    }
    .profile-container .profile.overview .thum{
        max-width: 20vw;
        padding-top: 35%;
    }
    .profile-container .profile.overview .responsive-info{
        opacity: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: #fff;
    }
    .profile-container .profile.overview .responsive-info h3{
        font-family: 'Paperlogy';
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 16px;
    }
    .profile-container .profile.overview .responsive-info p{
        font-size: 12px;
    }
    .profile-container .profile.introduce .top-info{
        display: none;
    }
    .menu-inner .profile-container .profile.introduce{
        flex: 1;
    }
    .profile.introduce .bottom-info .info{
        min-width: 30vw;
    }
}