@import url(../css/fonts.css);
@import url(../css/reset.css);

@media(min-width: 349px) and (max-width: 767px){
    /* ##### COMMON STYLES ##### */
    .menu .menu-inner{
        justify-content: center;
    }
    .menu .menu-inner h2{
        position: relative;
        margin: 0;
        font-size: 36px;
    }
    .menu-inner .design-title span.title-text{
        font-size: 14px;
    }


    /* ##### HEADER ##### */
    header .header-inner{
        align-items: flex-start;
        padding: 20px 10%;
    }
    header .header-inner h1.logo{
        width: 10vw;
    }
    header .header-inner nav.gnb{
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 15% 10%;
        z-index: 35;
        transition: 0.5s;
        background-color: #333;
        transform: translateX(100%);
    }
    header .header-inner nav.gnb.active{
        transform: translateX(0%);
    }
    header .header-inner .gnb-responsive{
        display: block;
        position: absolute;
        right: 10%;
        z-index: 50;
        top: 40%;
        animation: blur 4.2s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 3s;
    }
    .gnb-responsive button{
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
    }
    .gnb-responsive button svg{
        transition: 0.4s;
    }
    .gnb-responsive button.active{
        transform: translateY(-10px);
    }
    header .header-inner nav.gnb ul{
        flex-direction: column;
        align-items: flex-start;
    }
    header .header-inner .gnb-bg{
        display: block;
        opacity: 0;
    }
    header .header-inner .gnb-bg.active{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 30;
        opacity: 1;
        transition: 0.2s;
        background-color: rgba(0, 0, 0, 0.5);
    }


    /* ##### MAIN SECTION ##### */
    body .main-container{
        height: 600vh;
    }


    /* ### FIRST WRAP ### */
    .main-container .first-wrap .intro-title{
        width: 45%;
    }
    .first-wrap .intro-title .title-top{
        gap: 20px;
    }
    .intro-title .title-top .title-arrow::before{
        height: 2px;
    }
    .intro-title .title-bottom .sub-text{
        margin-top: 8px;
    }
    .intro-title .title-top .title-arrow img {
        width: 28px;
    }
    .title-bottom .sub-text .text{
        font-size: 14px;
    }
    .title-bottom .sub-text .cursor{
        font-size: 14px;
        line-height: 18px;
        transform: translateX(-10px);
    }
    .first-wrap .bg-wrapper{
        height: 110vh;
    }


    /* ### SECOND WRAP ### */
    .main-container .second-wrap .about .profile-container{
        flex-direction: column;
        height: 80%;
    }
    .menu-inner .profile-container .profile.overview{
        flex-direction: row;
        width: 100%;
        gap: 5%;
        align-items: center;
    }
    .profile-container .profile.overview .thum{
        max-width: 20vw;
        padding-top: 35%;
    }
    .profile-container .profile.overview .responsive-info{
        opacity: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: #fff;
        transition: 1s;
        transition-delay: 1s;
    }
    .profile-container .profile.overview .responsive-info h3{
        font-family: 'Paperlogy';
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 16px;
        word-break: keep-all;
    }
    .profile-container .profile.overview .responsive-info p{
        font-size: 12px;
        word-break: keep-all;
    }
    .profile-container .profile.introduce .top-info{
        display: none;
    }
    .menu-inner .profile-container .profile.introduce{
        flex: 1;
    }
    .profile.introduce .bottom-info .info{
        min-width: 30vw;
        transition: 1s;
        transition-delay: 1s;
    }


    /* ### THIRD WRAP ### */
    .main-container .third-wrap .menu.skill .skill-card-container {
        height: 75%;
    }
    .skill-card-container [class*="-wrap"]{
        flex-wrap: wrap;
    }
    .skill-card-container [class*="-wrap"] .card{
        min-width: 30%;
        transform: translateY(100%);
        padding: 2vh 2%;
        transition: 0.5s ease-in-out;
    }
    .skill-card-container .card-wrap .card .thum{
        width: 12vw;
        padding-top: 60%;
    }
    .skill-card-container [class*="-wrap"] .card.active{
        opacity: 0;
        transform: translateY(100%);
    }
    .skill-card-container [class*="-wrap"] .info{
        min-width: 30%;
        height: 52%;
        padding: 2vh 2.5%;
        border-radius: 10px;
        transform: translateY(-106%);
    }
    .skill-card-container [class*="-wrap"] .info.active{
        height: 52%;
        padding: 2vh 2.5%;
        border-radius: 10px;
        transform: translateY(-106%);
    }
    .skill-card-container .card-wrap .card .card-hover{
        display: none;
    }


    /* ### FOURTH WRAP ### */
    .fourth-wrap .menu.project .menu-inner{
        flex-direction: column;
        padding: 10vh 10%;
    }
    .fourth-wrap .menu.project .menu-inner .project-title{
        top: 0;
        justify-content: center;
    }
    .menu.project .menu-inner .project-list{
        height: 84%;
    }
    .menu.project .menu-inner .project-list .project-list-wrap{
        height: 100%;
    }
    .project-list-wrap ul li .project-thums{
        height: 32vh;
    }
    li .project-thums .page{
        padding-top: 28vh;
    }
    .project-thums .responsive img.pc{
        left: 38%;
        max-width: 22vw;
    }
    .project-thums .responsive img.tablet{
        top: 56%;
        left: 83%;
        max-width: 9vw;
    }
    .project-thums .responsive img.mobile{
        top: 58%;
        left: 62%;
        max-width: 6vw;
    }
    ul li.clone-project .project-thums .responsive img{
        left: 50%;
        max-width: 26vw;
    }


    /* ### FIVETH WRAP ### */
    .fifth-wrap .menu.design .menu-inner .design-box{
        height: 100%;
    }
    .menu-inner .design-box .design-wrap{
        width: 100%;
        height: 100%;
        gap: 10px;
        flex-direction: column;
    }
    .design-box .design-wrap .design-lists{
        gap: 10px;
        width: 100%;
        height: 100%;
    }
    .design-wrap .design-lists.left .left-bottom{
        gap: 10px;
    }
    .design-lists .design-list .design-info{
        padding: 0 10%;
        text-align: center;
    }
    .design-lists .design-list .design-info span.text{
        word-break: keep-all;
        font-size: 11px;
    }
    .design-lists .design-list .design-info .logo:not(.nf,.nepa,.byk,.nau) img{
        display: none;
    }
    .left-bottom .design-list.third .design-card img.design-bg{
        transform: translate(5%, 6%) scale(1.2);
    }
    .design-lists.right .design-list.fourth{
        flex: 1;
    }
    .design-card .design-info .logo:is(.nau,.nepa){
        min-width: 12vw;
        padding-top: 12%;
    }
    .design-card .design-info .logo.byk{
        max-width: 28vw;
        padding-top: 5%;
    }
    .design-card .design-info .logo.nf{
        max-width: 20vw;
        padding-top: 15%;
    }


    /* ### SIXTH WRAP ### */
    .sixth-wrap .menu.contact .menu-inner{
        flex-direction: column;
        align-items: flex-start;
    }
    .sixth-wrap .menu.contact .menu-inner .contact-title{
        top: 0;
        width: 100%;
        height: 20%;
    }
    .menu.contact .menu-inner .contact-box ul.contact-wrap {
        gap: 3vh;
    }
    .sixth-wrap .menu.contact .menu-inner .contact-box{
        width: 100%;
        padding: 0;
        border: none;
    }
    .contact-box ul li.contact-list p.title::after{
        display: none;
    }
}
@media(min-width: 349px) and (max-width: 460px){
    .intro-title .title-top span{
        font-size: 34px;
    }
    .intro-title .title-bottom .main-title span{
        font-size: 30px;
    }
    .title-bottom .sub-text .text{
        font-size: 11px;
    }
    .contact-title h2{
        font-size: 42px;
    }
    .contact-title span.title-text{
        font-size: 18px;
    }
    .contact-title span.sub-text{
        font-size: 14px;
    }
    li.contact-list span.text{
        font-size: 20px;
    }
}
@media(min-width: 841px) and (max-width: 920px){
    .intro-title .title-top span{
        font-size: 36px;
    }
    .intro-title .title-bottom .main-title span{
        font-size: 44px;
    }
    .title-bottom .sub-text .text{
        font-size: 12px;
    }
    li.contact-list span.text{
        font-size: 34px;
    }
}
@media(min-width: 921px) and (max-width: 767px){
    .intro-title .title-top span{
        font-size: 38px;
    }
    .intro-title .title-bottom .main-title span{
        font-size: 48px;
    }
    .title-bottom .sub-text .text{
        font-size: 13px;
    }
    li.contact-list span.text{
        font-size: 36px;
    }
}