@import url(/Move-to-next/example/fonts.css);
body{
    width: 100%;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-box.bounce{
    display: none;
}
.text-box.bounce h1{
    display: flex;
    gap: 0;
    font-size: 86px;
    line-height: 80px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
}
.text-box.bounce h1 em{
    font-style: normal;
    transform: scaleY(0%);
    transform-origin: bottom;
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.text-box.bounce h1 em[class*=one]{
    animation-delay: 0s;
}
.text-box.bounce h1 em[class*=two]{
    animation-delay: 0.1s;
}
.text-box.bounce h1 em[class*=three]{
    animation-delay: 0.2s;
}
.text-box.bounce h1 em[class*=four]{
    animation-delay: 0.3s;
}
.text-box.bounce h1 em[class*=five]{
    animation-delay: 0.4s;
}
.text-box.bounce h1 em[class*=six]{
    animation-delay: 0.5s;
}
.text-box.bounce h1 em[class*=seven]{
    animation-delay: 0.6s;
}
.text-box.bounce h1 em[class*=eight]{
    animation-delay: 0.7s;
}
.text-box.bounce h1 em[class*=nine]{
    animation-delay: 0.8s;
}
.text-box.bounce h1 em[class*=ten]{
    animation-delay: 0.9s;
}
@keyframes bounce{
    0%{
        transform: scaleY(0%);
    }
    20%{
        transform: scaleY(0%);
    }
    60%{
        transform: scaleY(100%);
    }
    70%{
        transform: scaleY(85%);
    }
    80%{
        transform: scaleY(100%);
    }
    90%{
        transform: scaleY(95%);
    }
    100%{
        transform: scaleY(100%);
    }
}

.text-box.blur{
    display: none;
}
.text-box.blur h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0;
    font-size: 86px;
    line-height: 80px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    z-index: 40;
}
.text-box.blur h1 em{
    font-style: normal;
    animation: blur;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes blur{
    0%{
        filter: blur(100px);
        opacity: 0;
    }
    50%{
        filter: blur(100px);
        opacity: 0;
    }
    100%{
        filter: blur(0);
        opacity: 1;
    }
}

.intro-title{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}
.intro-title .title-top{
    position: relative;
    width: 100%;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.title-top span{
    position: relative;
    font-family: 'Paperlogy-8ExtraBold';
    font-size: 50px;
    color: #fff;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
    left: -150px;
    animation: titlemove 0.5s ease-out;
    animation-fill-mode: forwards;
}
.title-arrow{
    position: relative;
    width: 100%;
    overflow: hidden;
    transform: translateY(6px);
}
.title-top .title-arrow::before{
    content: '';
    position: absolute;
    display: inline-block;
    background-color: #fff;
    width: 0%;
    height: 3px;
    top: 40%;
    z-index: 30;
    animation: titlearrow 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.title-top .title-arrow img{
    position: relative;
    width: 35px;
    filter: invert(1);
    left: -15px;
    opacity: 0;
    animation: titlearrowhead 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes titlearrow{
    100%{
        width: 98%;
    }
}
@keyframes titlearrowhead{
    100%{
        left: 92%;
        opacity: 1;
    }
}
@keyframes titlemove{
    100%{
        left: 0;
    }
}
@keyframes titleblur{
    100%{
        opacity: 1;
    }
}

.intro-title .title-bottom{
    position: relative;
    width: 100%;
    margin-top: 6px;
}
.title-bottom .main-title{
    display: flex;
    justify-content: space-between;
}
.title-bottom .main-title span{
    font-family: 'Paperlogy-8ExtraBold';
    font-size: 60px;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.title-bottom .sub-text{
    position: relative;
    margin-top: 10px;
    text-align: center;
}
.sub-text .text{
    display: inline-block;
    width: 0%;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40);
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.sub-text .cursor{
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    opacity: 0;
    animation: cursor 1s linear infinite;
    animation-delay: 3s;
}
.main-title .first{animation: titleblur 1.2s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.main-title .second{animation: titleblur 1.2s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.main-title .third{animation: titleblur 1.2s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
@keyframes titleblur{
    0%{
        filter: blur(100px);
        opacity: 0;
    }
    50%{
        filter: blur(100px);
        opacity: 0;
    }
    100%{
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes typing{
    100%{
        width: 100%;
    }
}
@keyframes cursor{
    0%{
        opacity: 0;
    }
    2%{
        opacity: 1;
    }
    69%{
        opacity: 1;
    }
    71%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.arrow{
    display: none;
    position: absolute;
    align-items: center;
    width: 100%;
    max-width: 120%;
    height: 50px;
    top: 50%;
    left: 50%;
    z-index: 30;
    transform: translate(-50%, -50%);
}
.arrow::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: 0%;
    height: 5px;
    background-color: #fff;
    animation: arrow 3s ease-in-out;
    transform: translateX(-8px);
}
.arrow img{
    position: relative;
    width: 50px;
    filter: invert(1);
    animation: arrowhead 3s ease-in-out;
    z-index: 30;
    left: 0%;
    transform: translateX(-36px);
}
.test-box.move{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    height: 100%;
    display: none;
    /* display: flex; */
    /* flex-direction: column;
    gap: 0%; */
    /* animation: move 1.5s ease-out;
    animation-delay: 3s;
    animation-fill-mode: forwards; */
}
.test-box.move div{
    flex: 0.5;
    position: relative;
    width: 100%;
    background-color: #000;
    z-index: 20;
}
@keyframes arrow{
    100%{
        width: 140%;
    }
}
@keyframes arrowhead{
    100%{
        left: 140%;
    }
}
@keyframes move{
    100%{
        gap: 100%;
    }
}

.bg-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #521262;
    overflow: hidden;
    z-index: 10;
}
.bg-wrapper div{
    position: absolute;
    width: 90%;
    height: 160%;
    border-radius: 100%;
    filter: blur(130px);
    opacity: 0.7;
}
.bg-wrapper .bg-one{
    background-color: #3490de;
    top: -30%;
    left: 80%;
    animation: turn 16s linear infinite;
}
.bg-wrapper .bg-two{
    background-color: #3490de;
    top: -30%;
    left: -20%;
    animation: turnPlus 16s linear infinite;
}
.bg-wrapper .bg-three{
    background-color: #6639a6;
    top: 15%;
    left: 80%;
    animation: turnPlus 16s linear infinite;
    z-index: 40;
}
.bg-wrapper .bg-four{
    background-color: #00b8a9;
    animation: turn 16s linear infinite;
    z-index: 30;
}
@keyframes turn{
    50%{
        transform: rotate(1turn) translate(-350px);
    }
    100%{
        transform: rotate(2turn) translate(0%);
    }
}
@keyframes turnPlus {
    50%{
        transform: rotate(-1turn) translate(-450px);
    }
    100%{
        transform: rotate(-2turn) translate(0%);
    }
}